<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biel.autentic">
    <!--  Aquí mir si tenc internet o no i puc fer una funció que retorni true or false i que faci una cosa o  res si no te internet  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.biel.autentic.Autentic">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  declaram l'activitat central que és on va el primer boto    i posam el nom que li donarem tots és el mateix :label autentic  -->
        <activity
            android:name=".Central"
            android:label="@string/app_name">

        </activity>
        <!--  declaram l'activitat fitxa_plat per quan pitjam damunt un plat   -->

        <activity android:name=".FitxaPlat"
            android:label="@string/app_name"></activity>



    </application>

</manifest>
